body{
    background: #008080 !important;
}

path:hover {
    fill: #D9D49C;
}
.container {
    margin-top: 5rem;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.navbar {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #ccc;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group > p {
    margin: 0rem;
    margin-left: 0.1rem;
}

form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: #556B2F;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #008080;
    color: #EEE8AA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: 	#66b2b2;
}

.logo {
    font-weight: 500;
}