@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');


.sidebar {
    width: 12rem;
    background-color: #040D12;
    gap: 1rem;
    font-family: 'Open Sans', sans-serif;
    position: sticky;
    top: 0;
    height: 100vh;
    max-height: 200vh;
}


.sb-header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sb-nome {
    font-size: 1.5rem;
}

.sb-nomerh {
    font-size: 1rem;
}

.sb-opcao {
    padding: 1.3rem;
}

.sb-menu-opcoes>li:hover {
    background: #183D3D;
    transition: 0.2s ease;
}

.sb-opcao>a {
    color: white;
}

.sb-opcao>span {
    size: 10rem;
}

.sb-header>span {
    color: white;
}

a {
    color: white;
}