/* BASE */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFF0;
    color: #140101;
}

html {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color:#140101;
}

ul {
    list-style: none;
}

/* CSS PRINCIPAL */

h1 {
    display: flex;
    font-size: 2.5rem;
    color: #008080;
    justify-content: center;
    margin-bottom: 1rem;
}

.navbar {
    max-width: 100%;
    margin: 0rem;
    padding: 1.5rem 6.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: #008080;
    color:#FFFFF0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color:#140101;
}

.nav-menu > a {
    background-color: #FFFFF0;
}

.logo {
    font-family: Quicksand;
    display: flex;
    justify-content: start;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0rem 0rem;
    padding: 1rem 6.6rem;
}

.hero-cadastro {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 3rem;
}

.hero-cadastro > h2 {
    display: flex;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    justify-content: left;
}

.imagem-container {
    max-width: 45%;
    padding-top: 2rem;
}

.imagem-container > img {
    max-width: 100%;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.botoes > a {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap: 0.5rem;
    width: 28rem;
    border-radius: 1.25rem;
    padding: 0.5rem 2rem;
    justify-content: center;
    background-color: #FFFFF0;
    color:#140101;
    border-color: #140101;
    border-width: 0.1rem;
    border-style: solid;
    max-width: 100%;
}

.a-entrar {
    color: #008080;
}

.botoes > a > img {
    width: 1.3rem;
    height: 1.3rem;
}

.botoes > a {
    color:#140101;
}

.botoes > p {
    font-size: 0.9rem;
}

.entrar {
    margin-top: -0.4rem;
    margin-left: 0.1rem;
}

.sobre {
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem;
}

.sobre-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.sobre-card {
    margin-left: 10rem;
    margin-right: 10rem;
}

/* VAGAS.php */

.v-body {
    display: flex;
    flex-direction: row;
}

.v-principal {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.v-botao-nova {
    display: flex;
    max-width: 100%;
    background-color: #b2d8d8;
    width: fit-content;
    border-radius: 2rem;
    height: fit-content;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.v-botao-nova > a {
    display:flex;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
}

.v-botao-nova > a > p{
    display: inline;
    margin-top: -0.1rem;
}

.v-card-container {
    display:flex;
    flex-direction: column;
    gap: 0.4rem;
}

.v-card {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background-color: #FFF5EE;
    width: 30rem;
    gap: 1rem;
}

.v-card-status {
    margin-top: 1.5rem;
    height: fit-content;
    color: green;
    border-style:  solid;
    padding: 0.2rem;
    border-radius: 1rem;
}

.v-card-botao {
    display: flex;
    background-color: #004c4c;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    max-width: 100%;
    border-radius: 2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
}

.v-card-botao > a {
    display: flex;
    color: white;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
}

.v-card-header {
    display: block;
}

.v-card-id {
    background-color: rgba(191, 191, 191, 0.3);
    width:fit-content;
    height:fit-content;
    padding: 0.1rem;
    font-size: 0.9rem;
}

/* DASH.PHP */

.dash-top {
    display: flex;
    flex-direction: row;
    gap: 20%;
    margin-bottom: 3rem;
}

    .dash-vagas-abertas {
        width: 20%;
        height: 8rem;
        background-color: cadetblue;
    }
    
    .dash-portfolios-recebidos {
        width: 20%;
        height: 8rem;
        background-color: cadetblue;
    }
    
    .dash-contratados {
        width: 20%;
        height: 8rem;
        background-color: cadetblue;
    }

.dash-meio {
    display: flex;
    flex-direction: row;
    gap: 16%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

    .dash-graf-vagas {
        width: 40%;
        background-color: cadetblue;
        height: 25rem;
    }
    
    .dash-graf-modali {
        width: 40%;
        background-color: cadetblue;    
        height: 25rem;
    }

.dash-bot {
    display: flex;
    flex-direction: row;
}
    .dash-ano {
        height: 13rem;
        background-color: cadetblue;
    }

.containerr {
    display: flex;
}